// // fonts
$font-main: 'Roboto', sans-serif;
$font-secondary: 'Josefin Sans', sans-serif;
$font: 'Roboto Slab', serif;

// colors
$color-logo: #034d28;
$color-secondary: #be8f00;
$color-medium: #f6e355;
$color-more-light: #f2e89c;
$color-background: #9b9c9b;