.form__search {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: $color-logo;
    padding-block: 20px;
    // border-radius: 25px;
    // opacity: 90%;
    .input-search {
        padding-inline: 60px;
        border-radius: 30px;
        padding: 8px 150px;
    }
    .button-search {
        background-color: $color-secondary;
        border-color: $color-secondary;
        border-radius: 30px;
        padding: 8px 20px;
        cursor: pointer;
    }
}

//CONTENEDOR TANTO LISTA COMO FAVORITOS
.container-characters {
    width: 100%;
    display: flex;
    justify-content: space-around;
    // justify-content: space-between;   CADA UNO TOTALMENTE A UN LADO
}

.fav-reset-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    .section__fav-title{
        color: $color-logo;
        // background-image: url(../images/bf994bdae83b05978843c1b83c1d66db.png);
    }
    .button-reset {
        background-color: $color-secondary;
        border-color: $color-secondary;
        border-radius: 30px;
        padding: 8px 20px;
        cursor: pointer;
    }
}

.favourites-list {
    width: 200px;
}

.section__characters {
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    .section__characters-title {
        background-image: url();
        height: 50px;
        display: flex;
        align-items: center;
        color: $color-logo;
    }

    .characters-list {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
}



.character {
    width: 200px;
    height: 320px;
    background-color: white;
    border-radius: 10px;
    padding-inline: 15px;
    // margin-bottom: 10px;
    border: solid black 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    &:hover {
        background-color: $color-secondary;
        transition: 1s;
    }
    .photo {
        height: 240px;
        width: 170px;
        object-fit: cover;
        border-radius: 10px;
        &:hover {
            transform: scale(1.02);
            transition: 1s;
        }
    }
    .name {
        padding-inline: 5px 3px;
    }
    // .status {
    //     // padding-bottom: 5px;
    // }
}
