@import 'core/reset';
@import 'core/variables';
@import 'layout/footer';
@import 'layout/header';
@import 'layout/page';
@import 'pages/index';

*{
    font-family: $font-principal;
    font-size: 16px;
    font-weight: 400;
}

.body {
    background-color: $color-background;
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

//MARCA LOS SELECCIONADOS
.selected {
    background-color: $color-principal;
    .name {
        color: white;
        letter-spacing: 1px;
    }
}