@import 'core/variables';
@import 'core/reset';
@import 'layout/footer';
@import 'layout/header';
@import 'layout/page';
@import 'pages/index';

// .header {
//     background-image: url(./assets/img/1600x900-Breaking-Bad-Heisenberg-Wallpaper-Full-HD-Descarga-gratuita.jpg) no-repeat;
// }

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

// .form {
// }

.button {
    cursor: pointer;
}

.container-characters {
    display: flex;
    flex-direction: row; 
    // grid-template-columns: 1fr 250px;
    gap: 30px;
}

.characters-list {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.character {
    padding-inline: 15px;
    border: solid black 2px;
}


// .selected {
//     background-color: rgb(252, 174, 198);
// }